/* @tailwind base; */

.activebtn
{
    border-color:red;

}
.afterclick {
  border-bottom: 4px solid red;
}
/*     here we will addd the active classs for the resedential buttons */

@media screen and (max-width:320px) 
{
    .resedentialcont
    {
     flex-direction: column;

    }
  }
/* 
#sticky-element
{
position:relative;
top:0;
}
.sticky 
{
position:fixed;
top:0;
} */


select option {
  /* Set the background color */
  background-color: #f0f0f0;
  /* Add any other styling you want */
  /* For example: */
  padding: 5px;
}


select option:checked {
  /* Set the background color */
  background-color: #ccc;
  /* Add any other styling you want */
  /* For example: */
  font-weight: bold;
}
















/* CSS */
/* 
.resedentialcont,.Plotcont,.commercialcont {
    display: none; 
}

#resedentialcont {
    display: block; 
} */



.custom-before::before {
    content: " ";
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }



.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }


  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  





/* 

@tailwind components;
@tailwind utilities;
 */

